.Card { 
    display:inline-block;
    position: relative;
    width: 350px;
    height: 160px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 25px;
    background:linear-gradient(#4568DC, #b06ab3)

}
img {
    width:150px;
    position: absolute;
    height:188px;
    bottom: 0px;
    left: 10px;
    
}
.text {
    margin-right: 10px;
    font-family: Verdana, serif;
    text-align: right;
    color: white;
    font-size: 12px;
    font-weight: bold;
}
.text1 {
    color: rgba(255, 255, 255, 0.5);
    margin-top: -10px;
    margin-right:5px;
    font-size: 9px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    
}
.Card1 { 
    display:inline-block;
    position: relative;
    width: 350px;
    height: 160px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 25px;
    background:linear-gradient(#e52d27,  #b31217);
}
.Card2 { 
    display:inline-block;
    position: relative;
    width: 350px;
    height: 160px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 25px;
    background:linear-gradient(#000, #61045F)
}
.Card3 { 
    display:inline-block;
    position: relative;
    width: 350px;
    height: 160px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 25px;
    background:linear-gradient(#e52d27, #000)
}
#Spider {
   bottom: -27px; 

}
#Widow {
   bottom: -2px;
}





 

