.image {
    margin-top: 6em ;
    transition:0.80s ;
    -webkit-transition: 0.80s;
    -moz-transition: 0.80s;
    -ms-transition: 0.80s;
    -o-transition: 0.80s;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.image:hover {
    margin-top: 6em;
    transition: 0.80s;
    -webkit-transition: 0.80s;
    -moz-transition: 0.80s;
    -ms-transition: 0.80s;
    -o-transition: 0.80s;
    -webkit-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -o-transform: rotate(-35deg);
    transform: rotate(-35deg);
}