#rainbow-block {
    height: 100px;
    width: 100%;
    background:linear-gradient( to right, red,orange,yellow, green, blue, violet); 
}
#horn-block {
    box-sizing: border-box;
    width: 100px;
    border-bottom:100px solid grey;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    margin-top: -40px;
    margin-left: 100px;
}